.detail-product {
	height: 1576px;
	.detail-product-wrap {
		display: flex;
		justify-content: space-between;
	}

	.detail-product-left {
		flex-basis: 25%;

		.left-image-main {
			margin: 14px;
			border-radius: 4px;
			cursor: pointer;
		}

		.left-image-list {
			display: flex;
			margin: 6px 0 0 14px;
			gap: 12px;

			.left-image-item {
				cursor: pointer;
				border: 1px solid transparent;

				&.active {
					border: 1px solid blue;
				}

				&:hover {
					border: 1px solid blue;
				}
			}
		}

		.left-share {
			display: flex;
			justify-content: space-around;
			margin: 16px 0;

			.share-media {
				display: flex;
				align-items: center;

				p {
					margin-right: 6px;
				}

				.media-list {
					.media-item {
						padding: 0 2px;
						width: 26px;
						cursor: pointer;
					}
				}
			}

			.left-like {
				display: flex;
				align-items: center;
				cursor: pointer;

				.like-number {
					margin-left: 10px;
				}
			}
		}
	}

	.detail-product-right {
		flex-basis: 60%;
		padding: 14px 20px;
		color: rgb(58, 58, 58);

		.right-header {
			// display: flex;

			.header-title {
				font-weight: 400;

				.header-tag-like {
					background-color: #ee4d2d;
					width: 100px;
					text-align: center;
					padding: 2px 3px;
					// line-height: 20px;
					font-size: 13px;
					color: white;
					border-radius: 2px;
					// width: ;
				}

				.title-content {
					font-size: 20px;
					padding-left: 6px;
				}
			}

			.right-review {
				display: flex;
				margin: 10px 0;

				.review-star {
					display: flex;
					color: #ee4d2d;
					align-items: center;

					.star-percent {
						border-bottom: 1px solid #ee4d2d;
						font-size: 16px;
					}

					.star-list {
						margin: 0 0 1px 4px;
						font-size: 12px;
					}
				}

				.review-common {
					font-size: 16px;

					.number-people {
						border-bottom: 1px solid #000;
					}

					.number-text {
						margin-left: 6px;
						font-size: 14px;
						color: #767676;
					}
				}

				.review-number {
					margin: 0 30px;
					position: relative;

					&::after {
						content: '';
						position: absolute;
						width: 1px;
						height: 20px;
						background-color: #bcbcbc;
						top: 0;
						left: -14px;
					}
					&::before {
						content: '';
						position: absolute;
						width: 1px;
						height: 20px;
						background-color: #bcbcbc;
						top: 0;
						right: -14px;
					}
				}

				.review-bought {
					font-size: 16px;
				}
			}

			.right-price {
				margin-top: 14px;
				width: 90%;
				height: 100px;
				background-color: #fafafa;
				padding: 8px 18px 2px;

				.price-detail {
					display: flex;
					align-items: center;

					.price-old {
						text-decoration: line-through;
						color: #929292;
					}

					.price-current {
						margin: 0 16px;
						color: #ee4d2d;
						font-size: 28px;
					}

					span {
						background-color: #ee4d2d;
						color: white;
						font-size: 12px;
						padding: 1px 2px;
						font-weight: 500;
						border-radius: 2px;
					}
				}

				.price-description {
					margin-top: 12px;
					display: flex;
					align-items: center;

					.tag-price {
						margin-right: 10px;
					}
					.price-info {
						.info-title {
							color: #ee6769;
							display: flex;
							align-items: center;

							svg {
								// border: 1px solid #000;
								border-radius: 50%;
								margin-left: 10px;
								fill: #000;
								stroke: #000;
							}
						}

						.info-text {
							font-weight: 300;
							font-size: 12px;
						}
					}
				}
			}

			.right-color {
				display: flex;
				padding: 20px 16px;
				width: 600px;

				.color-title {
					flex-basis: 20%;
					margin-top: 6px;
				}

				.color-content {
					flex-basis: 80%;
					display: flex;
					flex-wrap: wrap;

					.color-item {
						margin: 6px 4px;
						padding: 6px 8px;
						border: 1px solid #dcdcdc;
						border-radius: 2px;
						font-size: 14px;

						&:hover {
							border: 1px solid #bc5e5e;
							color: #bc5e5e;
							cursor: pointer;
						}
					}
				}
			}

			.right-quantity {
				display: flex;

				.number-title {
					flex-basis: 20%;
				}

				.number-quantity {
					flex-basis: 80%;
					display: flex;
					align-items: center;

					.quantity-wrap {
						display: flex;
						align-items: center;
						.btn-item {
							outline: none;
							border: none;
							width: 32px;
							height: 32px;
							background-color: white;
							border: 1px solid #dcdcdc;
							font-size: 20px;
							cursor: pointer;
						}

						.input-quantity {
							outline: none;
							border: 1px solid #dcdcdc;
							height: 30px;
							width: 50px;
							text-align: center;
						}
					}

					.number-available {
						margin-left: 14px;
						font-size: 14px;
					}
				}
			}

			.right-add-to-cart {
				margin-top: 30px;
				.btn-add {
					padding: 12px 26px;
					background-color: #ee4d2d;
					color: white;
					font-size: 16px;
					border: none;
					outline: none;
					border-radius: 2px;
					cursor: pointer;

					&:hover {
						background-color: #ca3416;
					}
				}
			}
		}
	}

	.info-product {
		display: flex;
		justify-content: space-between;
		border-top: 14px solid #f5f5f5;
		height: auto;

		.info-product-left {
			flex-basis: 75%;
			padding-left: 26px;
			border-right: 14px solid #f5f5f5;

			.info-section {
				margin-top: 30px;
			}

			.info-header {
				font-size: 20px;
				font-weight: 400;
				margin: 16px 16px 34px 0;
				padding: 8px;
				background-color: #fafafa;
				border-radius: 2px;
			}

			.product-specific {
				font-size: 15px;
				.specific-item {
					display: flex;
					margin: 16px 0;

					.item-title {
						width: 160px;
						color: rgba(0, 0, 0, 0.4);
					}
				}
			}
		}

		.info-product-right {
			flex-basis: 25%;
			background-color: #f5f5f5;
		}
	}
}

.size-padding {
	padding: 0 0 16px 40px;
	line-height: 30px;
}
