.footer {
	background-color: #fbfbfb;
	width: 1280px;
	height: 300px;
	margin: 0 auto;
	padding-top: 40px;

	display: flex;
	justify-content: space-between;
	font-size: 12px;

	.footer-item {
		flex-basis: 25%;
		padding-left: 66px;
	}

	.footer-title {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.54);
		margin-bottom: 14px;
	}

	.footer-list-link {
		list-style: none;

		.list-link-item {
			margin: 8px 0;
			color: rgba(0, 0, 0, 0.54);

			.item-text {
				padding-left: 8px;
			}
		}
	}

	.footer-client {
	}
	.footer-about {
	}
	.footer-payment {
	}
	.footer-medium {
	}
}
